.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 282px;
  overflow: hidden;
}

.card__image {
  height: 282px;
  width: 282px;
  background-size: cover;
}

.card__image_container {
  position: relative;
}

.card__remove {
  height: 19.3px;
  width: 18px;
  background-size: 18px 19.3px;
  position: absolute;
  right: 15px;
  top: 18px;
}

.card__remove:hover {
  opacity: 0.5;
  cursor: pointer;
  z-index: 1;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 282px;
  padding: 0 20px;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}

.card__text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
}

.card__like-button {
  background: transparent url("../images/like-button.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  transition: opacity 0.2s ease-in-out;
  background-size: contain;
}

.card__like-button_active {
  background: transparent url("../images/Union.svg") center no-repeat;
  background-size: contain;
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}
