.cards {
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-top: 51px;
}

.cards__list {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;

  padding: 0;
  margin: 0;
}

.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 282px;

  overflow: hidden;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 282px;
  padding: 0 20px;

  background-color: #fff;
  color: #000;
}

.card__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url("../images/like-button.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  transition: opacity 0.2s ease-in-out;
}

.card__like-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 480px) {
  .cards__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    grid-column-gap: 0;
  }
}
