.profile {
  padding-top: 36px;

  display: flex;
  align-items: center;
}

.profile__picture {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-position: center;
  object-fit: cover;
  margin-right: 30px;
}

.profile__info {
  font-family: "Inter";
  font-weight: 500;
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__edit-button {
  background: transparent url("../images/edit-button.svg") center no-repeat;
  height: 24px;
  width: 24px;
  border-radius: 1px;
  border-color: #fff;
  grid-area: button;
  margin-left: 18px;
}

.profile__add-button {
  background: transparent url("../images/add-button.svg") center no-repeat;
  height: 50px;
  width: 150px;
  border-radius: 1px;
  border-color: #fff;
  margin-left: auto;
}
